In [1]:
import pandas as pd  
import matplotlib.pylab as plt  
%matplotlib inline  
import numpy as np  
from scipy.stats import linregress  
import scipy.stats as stats  
from sklearn.tree import DecisionTreeClassifier  
from sklearn.metrics import confusion_matrix  
from matplotlib.colors import ListedColormap  
from sklearn.ensemble import RandomForestClassifier  
from sklearn.cluster import KMeans  
from sklearn.preprocessing import StandardScaler  
from sklearn.model_selection import train_test_split

In [2]:
# # Read CSV files from Wendy directories
calendar = pd.read_csv("D:\year3\FIT3163\Project\calendar.csv")
evaluation = pd.read_csv("D:\year3\FIT3163\Project\sales_train_evaluation.csv")
validation = pd.read_csv("D:\year3\FIT3163\Project\sales_train_validation.csv")
prices = pd.read_csv("D:\year3\FIT3163\Project\sell_prices.csv")
sample = pd.read_csv("D:\year3\FIT3163\Project\sample_submission.csv")

In [2]:
#Janice repo
calendar = pd.read_csv('D:\\YEAR 3\\Semester 2\\backup\\calendar.csv')
evaluation = pd.read_csv('D:\\YEAR 3\\Semester 2\\backup\\sales_train_evaluation.csv')
validation = pd.read_csv('D:\\YEAR 3\\Semester 2\\backup\\sales_train_validation.csv')
sample = pd.read_csv('D:\\YEAR 3\\Semester 2\\backup\\sample_submission.csv')
prices = pd.read_csv('D:\\YEAR 3\\Semester 2\\backup\\sell_prices.csv')

In [3]:
d_cols = [col for col in evaluation.columns if col.startswith('d_')]
d_cols

['d_1',
 'd_2',
 'd_3',
 'd_4',
 'd_5',
 'd_6',
 'd_7',
 'd_8',
 'd_9',
 'd_10',
 'd_11',
 'd_12',
 'd_13',
 'd_14',
 'd_15',
 'd_16',
 'd_17',
 'd_18',
 'd_19',
 'd_20',
 'd_21',
 'd_22',
 'd_23',
 'd_24',
 'd_25',
 'd_26',
 'd_27',
 'd_28',
 'd_29',
 'd_30',
 'd_31',
 'd_32',
 'd_33',
 'd_34',
 'd_35',
 'd_36',
 'd_37',
 'd_38',
 'd_39',
 'd_40',
 'd_41',
 'd_42',
 'd_43',
 'd_44',
 'd_45',
 'd_46',
 'd_47',
 'd_48',
 'd_49',
 'd_50',
 'd_51',
 'd_52',
 'd_53',
 'd_54',
 'd_55',
 'd_56',
 'd_57',
 'd_58',
 'd_59',
 'd_60',
 'd_61',
 'd_62',
 'd_63',
 'd_64',
 'd_65',
 'd_66',
 'd_67',
 'd_68',
 'd_69',
 'd_70',
 'd_71',
 'd_72',
 'd_73',
 'd_74',
 'd_75',
 'd_76',
 'd_77',
 'd_78',
 'd_79',
 'd_80',
 'd_81',
 'd_82',
 'd_83',
 'd_84',
 'd_85',
 'd_86',
 'd_87',
 'd_88',
 'd_89',
 'd_90',
 'd_91',
 'd_92',
 'd_93',
 'd_94',
 'd_95',
 'd_96',
 'd_97',
 'd_98',
 'd_99',
 'd_100',
 'd_101',
 'd_102',
 'd_103',
 'd_104',
 'd_105',
 'd_106',
 'd_107',
 'd_108',
 'd_109',
 'd_110',
 'd_111',
 'd_112',
 'd_113',
 'd_114',
 'd_115',
 'd_116',
 'd_117',
 'd_118',
 'd_119',
 'd_120',
 'd_121',
 'd_122',
 'd_123',
 'd_124',
 'd_125',
 'd_126',
 'd_127',
 'd_128',
 'd_129',
 'd_130',
 'd_131',
 'd_132',
 'd_133',
 'd_134',
 'd_135',
 'd_136',
 'd_137',
 'd_138',
 'd_139',
 'd_140',
 'd_141',
 'd_142',
 'd_143',
 'd_144',
 'd_145',
 'd_146',
 'd_147',
 'd_148',
 'd_149',
 'd_150',
 'd_151',
 'd_152',
 'd_153',
 'd_154',
 'd_155',
 'd_156',
 'd_157',
 'd_158',
 'd_159',
 'd_160',
 'd_161',
 'd_162',
 'd_163',
 'd_164',
 'd_165',
 'd_166',
 'd_167',
 'd_168',
 'd_169',
 'd_170',
 'd_171',
 'd_172',
 'd_173',
 'd_174',
 'd_175',
 'd_176',
 'd_177',
 'd_178',
 'd_179',
 'd_180',
 'd_181',
 'd_182',
 'd_183',
 'd_184',
 'd_185',
 'd_186',
 'd_187',
 'd_188',
 'd_189',
 'd_190',
 'd_191',
 'd_192',
 'd_193',
 'd_194',
 'd_195',
 'd_196',
 'd_197',
 'd_198',
 'd_199',
 'd_200',
 'd_201',
 'd_202',
 'd_203',
 'd_204',
 'd_205',
 'd_206',
 'd_207',
 'd_208',
 'd_209',
 'd_210',
 'd_211',
 'd_212',
 'd_213',
 'd_214',
 'd_215',
 'd_216',
 'd_217',
 'd_218',
 'd_219',
 'd_220',
 'd_221',
 'd_222',
 'd_223',
 'd_224',
 'd_225',
 'd_226',
 'd_227',
 'd_228',
 'd_229',
 'd_230',
 'd_231',
 'd_232',
 'd_233',
 'd_234',
 'd_235',
 'd_236',
 'd_237',
 'd_238',
 'd_239',
 'd_240',
 'd_241',
 'd_242',
 'd_243',
 'd_244',
 'd_245',
 'd_246',
 'd_247',
 'd_248',
 'd_249',
 'd_250',
 'd_251',
 'd_252',
 'd_253',
 'd_254',
 'd_255',
 'd_256',
 'd_257',
 'd_258',
 'd_259',
 'd_260',
 'd_261',
 'd_262',
 'd_263',
 'd_264',
 'd_265',
 'd_266',
 'd_267',
 'd_268',
 'd_269',
 'd_270',
 'd_271',
 'd_272',
 'd_273',
 'd_274',
 'd_275',
 'd_276',
 'd_277',
 'd_278',
 'd_279',
 'd_280',
 'd_281',
 'd_282',
 'd_283',
 'd_284',
 'd_285',
 'd_286',
 'd_287',
 'd_288',
 'd_289',
 'd_290',
 'd_291',
 'd_292',
 'd_293',
 'd_294',
 'd_295',
 'd_296',
 'd_297',
 'd_298',
 'd_299',
 'd_300',
 'd_301',
 'd_302',
 'd_303',
 'd_304',
 'd_305',
 'd_306',
 'd_307',
 'd_308',
 'd_309',
 'd_310',
 'd_311',
 'd_312',
 'd_313',
 'd_314',
 'd_315',
 'd_316',
 'd_317',
 'd_318',
 'd_319',
 'd_320',
 'd_321',
 'd_322',
 'd_323',
 'd_324',
 'd_325',
 'd_326',
 'd_327',
 'd_328',
 'd_329',
 'd_330',
 'd_331',
 'd_332',
 'd_333',
 'd_334',
 'd_335',
 'd_336',
 'd_337',
 'd_338',
 'd_339',
 'd_340',
 'd_341',
 'd_342',
 'd_343',
 'd_344',
 'd_345',
 'd_346',
 'd_347',
 'd_348',
 'd_349',
 'd_350',
 'd_351',
 'd_352',
 'd_353',
 'd_354',
 'd_355',
 'd_356',
 'd_357',
 'd_358',
 'd_359',
 'd_360',
 'd_361',
 'd_362',
 'd_363',
 'd_364',
 'd_365',
 'd_366',
 'd_367',
 'd_368',
 'd_369',
 'd_370',
 'd_371',
 'd_372',
 'd_373',
 'd_374',
 'd_375',
 'd_376',
 'd_377',
 'd_378',
 'd_379',
 'd_380',
 'd_381',
 'd_382',
 'd_383',
 'd_384',
 'd_385',
 'd_386',
 'd_387',
 'd_388',
 'd_389',
 'd_390',
 'd_391',
 'd_392',
 'd_393',
 'd_394',
 'd_395',
 'd_396',
 'd_397',
 'd_398',
 'd_399',
 'd_400',
 'd_401',
 'd_402',
 'd_403',
 'd_404',
 'd_405',
 'd_406',
 'd_407',
 'd_408',
 'd_409',
 'd_410',
 'd_411',
 'd_412',
 'd_413',
 'd_414',
 'd_415',
 'd_416',
 'd_417',
 'd_418',
 'd_419',
 'd_420',
 'd_421',
 'd_422',
 'd_423',
 'd_424',
 'd_425',
 'd_426',
 'd_427',
 'd_428',
 'd_429',
 'd_430',
 'd_431',
 'd_432',
 'd_433',
 'd_434',
 'd_435',
 'd_436',
 'd_437',
 'd_438',
 'd_439',
 'd_440',
 'd_441',
 'd_442',
 'd_443',
 'd_444',
 'd_445',
 'd_446',
 'd_447',
 'd_448',
 'd_449',
 'd_450',
 'd_451',
 'd_452',
 'd_453',
 'd_454',
 'd_455',
 'd_456',
 'd_457',
 'd_458',
 'd_459',
 'd_460',
 'd_461',
 'd_462',
 'd_463',
 'd_464',
 'd_465',
 'd_466',
 'd_467',
 'd_468',
 'd_469',
 'd_470',
 'd_471',
 'd_472',
 'd_473',
 'd_474',
 'd_475',
 'd_476',
 'd_477',
 'd_478',
 'd_479',
 'd_480',
 'd_481',
 'd_482',
 'd_483',
 'd_484',
 'd_485',
 'd_486',
 'd_487',
 'd_488',
 'd_489',
 'd_490',
 'd_491',
 'd_492',
 'd_493',
 'd_494',
 'd_495',
 'd_496',
 'd_497',
 'd_498',
 'd_499',
 'd_500',
 'd_501',
 'd_502',
 'd_503',
 'd_504',
 'd_505',
 'd_506',
 'd_507',
 'd_508',
 'd_509',
 'd_510',
 'd_511',
 'd_512',
 'd_513',
 'd_514',
 'd_515',
 'd_516',
 'd_517',
 'd_518',
 'd_519',
 'd_520',
 'd_521',
 'd_522',
 'd_523',
 'd_524',
 'd_525',
 'd_526',
 'd_527',
 'd_528',
 'd_529',
 'd_530',
 'd_531',
 'd_532',
 'd_533',
 'd_534',
 'd_535',
 'd_536',
 'd_537',
 'd_538',
 'd_539',
 'd_540',
 'd_541',
 'd_542',
 'd_543',
 'd_544',
 'd_545',
 'd_546',
 'd_547',
 'd_548',
 'd_549',
 'd_550',
 'd_551',
 'd_552',
 'd_553',
 'd_554',
 'd_555',
 'd_556',
 'd_557',
 'd_558',
 'd_559',
 'd_560',
 'd_561',
 'd_562',
 'd_563',
 'd_564',
 'd_565',
 'd_566',
 'd_567',
 'd_568',
 'd_569',
 'd_570',
 'd_571',
 'd_572',
 'd_573',
 'd_574',
 'd_575',
 'd_576',
 'd_577',
 'd_578',
 'd_579',
 'd_580',
 'd_581',
 'd_582',
 'd_583',
 'd_584',
 'd_585',
 'd_586',
 'd_587',
 'd_588',
 'd_589',
 'd_590',
 'd_591',
 'd_592',
 'd_593',
 'd_594',
 'd_595',
 'd_596',
 'd_597',
 'd_598',
 'd_599',
 'd_600',
 'd_601',
 'd_602',
 'd_603',
 'd_604',
 'd_605',
 'd_606',
 'd_607',
 'd_608',
 'd_609',
 'd_610',
 'd_611',
 'd_612',
 'd_613',
 'd_614',
 'd_615',
 'd_616',
 'd_617',
 'd_618',
 'd_619',
 'd_620',
 'd_621',
 'd_622',
 'd_623',
 'd_624',
 'd_625',
 'd_626',
 'd_627',
 'd_628',
 'd_629',
 'd_630',
 'd_631',
 'd_632',
 'd_633',
 'd_634',
 'd_635',
 'd_636',
 'd_637',
 'd_638',
 'd_639',
 'd_640',
 'd_641',
 'd_642',
 'd_643',
 'd_644',
 'd_645',
 'd_646',
 'd_647',
 'd_648',
 'd_649',
 'd_650',
 'd_651',
 'd_652',
 'd_653',
 'd_654',
 'd_655',
 'd_656',
 'd_657',
 'd_658',
 'd_659',
 'd_660',
 'd_661',
 'd_662',
 'd_663',
 'd_664',
 'd_665',
 'd_666',
 'd_667',
 'd_668',
 'd_669',
 'd_670',
 'd_671',
 'd_672',
 'd_673',
 'd_674',
 'd_675',
 'd_676',
 'd_677',
 'd_678',
 'd_679',
 'd_680',
 'd_681',
 'd_682',
 'd_683',
 'd_684',
 'd_685',
 'd_686',
 'd_687',
 'd_688',
 'd_689',
 'd_690',
 'd_691',
 'd_692',
 'd_693',
 'd_694',
 'd_695',
 'd_696',
 'd_697',
 'd_698',
 'd_699',
 'd_700',
 'd_701',
 'd_702',
 'd_703',
 'd_704',
 'd_705',
 'd_706',
 'd_707',
 'd_708',
 'd_709',
 'd_710',
 'd_711',
 'd_712',
 'd_713',
 'd_714',
 'd_715',
 'd_716',
 'd_717',
 'd_718',
 'd_719',
 'd_720',
 'd_721',
 'd_722',
 'd_723',
 'd_724',
 'd_725',
 'd_726',
 'd_727',
 'd_728',
 'd_729',
 'd_730',
 'd_731',
 'd_732',
 'd_733',
 'd_734',
 'd_735',
 'd_736',
 'd_737',
 'd_738',
 'd_739',
 'd_740',
 'd_741',
 'd_742',
 'd_743',
 'd_744',
 'd_745',
 'd_746',
 'd_747',
 'd_748',
 'd_749',
 'd_750',
 'd_751',
 'd_752',
 'd_753',
 'd_754',
 'd_755',
 'd_756',
 'd_757',
 'd_758',
 'd_759',
 'd_760',
 'd_761',
 'd_762',
 'd_763',
 'd_764',
 'd_765',
 'd_766',
 'd_767',
 'd_768',
 'd_769',
 'd_770',
 'd_771',
 'd_772',
 'd_773',
 'd_774',
 'd_775',
 'd_776',
 'd_777',
 'd_778',
 'd_779',
 'd_780',
 'd_781',
 'd_782',
 'd_783',
 'd_784',
 'd_785',
 'd_786',
 'd_787',
 'd_788',
 'd_789',
 'd_790',
 'd_791',
 'd_792',
 'd_793',
 'd_794',
 'd_795',
 'd_796',
 'd_797',
 'd_798',
 'd_799',
 'd_800',
 'd_801',
 'd_802',
 'd_803',
 'd_804',
 'd_805',
 'd_806',
 'd_807',
 'd_808',
 'd_809',
 'd_810',
 'd_811',
 'd_812',
 'd_813',
 'd_814',
 'd_815',
 'd_816',
 'd_817',
 'd_818',
 'd_819',
 'd_820',
 'd_821',
 'd_822',
 'd_823',
 'd_824',
 'd_825',
 'd_826',
 'd_827',
 'd_828',
 'd_829',
 'd_830',
 'd_831',
 'd_832',
 'd_833',
 'd_834',
 'd_835',
 'd_836',
 'd_837',
 'd_838',
 'd_839',
 'd_840',
 'd_841',
 'd_842',
 'd_843',
 'd_844',
 'd_845',
 'd_846',
 'd_847',
 'd_848',
 'd_849',
 'd_850',
 'd_851',
 'd_852',
 'd_853',
 'd_854',
 'd_855',
 'd_856',
 'd_857',
 'd_858',
 'd_859',
 'd_860',
 'd_861',
 'd_862',
 'd_863',
 'd_864',
 'd_865',
 'd_866',
 'd_867',
 'd_868',
 'd_869',
 'd_870',
 'd_871',
 'd_872',
 'd_873',
 'd_874',
 'd_875',
 'd_876',
 'd_877',
 'd_878',
 'd_879',
 'd_880',
 'd_881',
 'd_882',
 'd_883',
 'd_884',
 'd_885',
 'd_886',
 'd_887',
 'd_888',
 'd_889',
 'd_890',
 'd_891',
 'd_892',
 'd_893',
 'd_894',
 'd_895',
 'd_896',
 'd_897',
 'd_898',
 'd_899',
 'd_900',
 'd_901',
 'd_902',
 'd_903',
 'd_904',
 'd_905',
 'd_906',
 'd_907',
 'd_908',
 'd_909',
 'd_910',
 'd_911',
 'd_912',
 'd_913',
 'd_914',
 'd_915',
 'd_916',
 'd_917',
 'd_918',
 'd_919',
 'd_920',
 'd_921',
 'd_922',
 'd_923',
 'd_924',
 'd_925',
 'd_926',
 'd_927',
 'd_928',
 'd_929',
 'd_930',
 'd_931',
 'd_932',
 'd_933',
 'd_934',
 'd_935',
 'd_936',
 'd_937',
 'd_938',
 'd_939',
 'd_940',
 'd_941',
 'd_942',
 'd_943',
 'd_944',
 'd_945',
 'd_946',
 'd_947',
 'd_948',
 'd_949',
 'd_950',
 'd_951',
 'd_952',
 'd_953',
 'd_954',
 'd_955',
 'd_956',
 'd_957',
 'd_958',
 'd_959',
 'd_960',
 'd_961',
 'd_962',
 'd_963',
 'd_964',
 'd_965',
 'd_966',
 'd_967',
 'd_968',
 'd_969',
 'd_970',
 'd_971',
 'd_972',
 'd_973',
 'd_974',
 'd_975',
 'd_976',
 'd_977',
 'd_978',
 'd_979',
 'd_980',
 'd_981',
 'd_982',
 'd_983',
 'd_984',
 'd_985',
 'd_986',
 'd_987',
 'd_988',
 'd_989',
 'd_990',
 'd_991',
 'd_992',
 'd_993',
 'd_994',
 'd_995',
 'd_996',
 'd_997',
 'd_998',
 'd_999',
 'd_1000',
 ...]

In [4]:
fix = evaluation[d_cols].stack().reset_index(level=1)
fix.columns = ['d','unit_sale']
fix

            d  unit_sale
0         d_1          0
0         d_2          0
0         d_3          0
0         d_4          0
0         d_5          0
...       ...        ...
30489  d_1937          0
30489  d_1938          2
30489  d_1939          2
30489  d_1940          5
30489  d_1941          1

[59181090 rows x 2 columns]

In [5]:
my_data = evaluation.drop(d_cols, axis=1).join(fix)
my_data

,id,item_id,dept_id,cat_id,store_id,state_id,d,unit_sale
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_2,0
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_3,0
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_4,0
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_5,0
...,...,...,...,...,...,...,...,...
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1937,0
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1938,2
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1939,2
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1940,5
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1941,1

In [6]:
my_data['id']=my_data['id'].astype('category')
my_data['item_id']=my_data['item_id'].astype('category')
my_data['dept_id']=my_data['dept_id'].astype('category')
my_data['cat_id']=my_data['cat_id'].astype('category')
my_data['store_id']=my_data['store_id'].astype('category')
my_data['state_id']=my_data['state_id'].astype('category')
my_data['d']=my_data['d'].astype('category')

my_data['unit_sale']=pd.to_numeric(my_data['unit_sale'],downcast='unsigned')
my_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59181090 entries, 0 to 30489
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   id         category
 1   item_id    category
 2   dept_id    category
 3   cat_id     category
 4   store_id   category
 5   state_id   category
 6   d          category
 7   unit_sale  uint16
dtypes: category(7), uint16(1)
memory usage: 1.1 GB

In [7]:
calendar['date']=calendar['date'].astype('datetime64')

calendar['weekday']=calendar['weekday'].astype('category')
calendar['d']=calendar['d'].astype('category')
calendar['event_name_1']=calendar['event_name_1'].astype('category')
calendar['event_name_2']=calendar['event_name_2'].astype('category')
calendar['event_type_1']=calendar['event_type_1'].astype('category')
calendar['event_type_2']=calendar['event_type_2'].astype('category')
calendar['snap_CA']=calendar['snap_CA'].astype('bool')
calendar['snap_TX']=calendar['snap_TX'].astype('bool')
calendar['snap_WI']=calendar['snap_WI'].astype('bool')

calendar['wm_yr_wk'] = pd.to_numeric(calendar['wm_yr_wk'], downcast='unsigned')
calendar['wday'] = pd.to_numeric(calendar['wday'], downcast='unsigned')
calendar['month'] = pd.to_numeric(calendar['month'], downcast='unsigned')
calendar['year'] = pd.to_numeric(calendar['year'], downcast='unsigned')

calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1969 non-null   datetime64[ns]
 1   wm_yr_wk      1969 non-null   uint16
 2   weekday       1969 non-null   category
 3   wday          1969 non-null   uint8
 4   month         1969 non-null   uint8
 5   year          1969 non-null   uint16
 6   d             1969 non-null   category
 7   event_name_1  162 non-null    category
 8   event_type_1  162 non-null    category
 9   event_name_2  5 non-null      category
 10  event_type_2  5 non-null      category
 11  snap_CA       1969 non-null   bool
 12  snap_TX       1969 non-null   bool
 13  snap_WI       1969 non-null   bool
dtypes: bool(3), category(6), datetime64[ns](1), uint16(2), uint8(2)
memory usage: 128.3 KB

In [8]:
prices['store_id'] = prices['store_id'].astype('category')
prices['item_id'] = prices['item_id'].astype('category')

prices['wm_yr_wk'] = pd.to_numeric(prices['wm_yr_wk'], downcast='unsigned')
prices['sell_price'] = pd.to_numeric(prices['sell_price'], downcast='float')

prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6841121 entries, 0 to 6841120
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   store_id    category
 1   item_id     category
 2   wm_yr_wk    uint16
 3   sell_price  float32
dtypes: category(2), float32(1), uint16(1)
memory usage: 58.8 MB

In [9]:
my_data = my_data.merge(calendar, on='d', how='left').merge(prices, on=['store_id','item_id','wm_yr_wk'], how='left')

In [10]:
# my_data

# HOBBIES_1 opti price

In [11]:
hobbies_1=my_data[my_data['dept_id']=="HOBBIES_1"]
hobbies_1 = hobbies_1.drop(hobbies_1[hobbies_1['unit_sale'] == 0].index)
hobbies_1.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,unit_sale,date,wm_yr_wk,...,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
901,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_902,1,2013-07-18,11325,...,7,2013,NaN,NaN,NaN,NaN,False,False,False,9.58
916,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_917,2,2013-08-02,11327,...,8,2013,NaN,NaN,NaN,NaN,True,False,True,8.26
918,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_919,1,2013-08-04,11328,...,8,2013,NaN,NaN,NaN,NaN,True,False,False,8.26
919,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_920,1,2013-08-05,11328,...,8,2013,NaN,NaN,NaN,NaN,True,True,True,8.26
925,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_926,1,2013-08-11,11329,...,8,2013,NaN,NaN,NaN,NaN,False,True,True,8.26

In [12]:
h1_df = pd.DataFrame(columns=['item_id', 'dept_id', 'cat_id', 'state_id', 'price',  'sale_perday', 'price_change', 'sale_change', 'elasticity'])

# Filter the DataFrame once
filtered_df = hobbies_1.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']).filter(lambda x: len(x) > 0)

for (item_id, dept_id, cat_id, state_id), group_df in filtered_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']):
    for sell_price in group_df['sell_price'].unique():
        item_df = group_df[group_df['sell_price'] == sell_price]
        sale_perday = item_df['unit_sale'].mean()

        hobbies_1_df = pd.DataFrame({'item_id': [item_id], 'dept_id': [dept_id], 'cat_id': [cat_id], 'state_id': [state_id], 'price': [sell_price],'sale_perday': [sale_perday]})
        hobbies_1_df = hobbies_1_df.dropna()

        h1_df = h1_df.append(hobbies_1_df, ignore_index=True)

h1_df['price_change'] = h1_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['price'].pct_change() 
h1_df['sale_change'] = h1_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['sale_perday'].pct_change() 
h1_df['elasticity'] = -h1_df['sale_change'] / h1_df['price_change']

h1_df = h1_df.dropna()

C:\Users\hp\AppData\Local\Temp\ipykernel_7480\3197013081.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  h1_df = h1_df.append(hobbies_1_df, ignore_index=True)

In [13]:
h1_df['elasticity'] = h1_df['elasticity'].apply(lambda x: 0 if x < 0 else x)
h1_df

,item_id,dept_id,cat_id,state_id,price,sale_perday,price_change,sale_change,elasticity
1,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA,8.26,1.498788,-0.137787,0.498788,3.619992
2,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA,8.38,1.721649,0.014528,0.148695,0.000000
4,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX,8.26,1.278431,-0.137787,-0.269468,0.000000
5,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX,5.0,2.0,-0.394673,0.564417,1.430088
6,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX,8.62,1.1,0.724,-0.45,0.621547
...,...,...,...,...,...,...,...,...,...
3928,HOBBIES_1_424,HOBBIES_1,HOBBIES,TX,1.77,1.650206,0.011429,-0.097981,8.573324
3930,HOBBIES_1_424,HOBBIES_1,HOBBIES,WI,1.77,1.994393,0.134615,-0.217584,1.616341
3931,HOBBIES_1_424,HOBBIES_1,HOBBIES,WI,1.64,2.226216,-0.073446,0.116237,1.582618
3932,HOBBIES_1_424,HOBBIES_1,HOBBIES,WI,1.6,1.789474,-0.02439,-0.196181,0.000000
3933,HOBBIES_1_424,HOBBIES_1,HOBBIES,WI,1.3,5.0,-0.1875,1.794118,9.568625

In [14]:
h1_df["target_days"] = 7

grouped = h1_df.groupby(['item_id', 'state_id'])
h1_df['cost_price'] = grouped['price'].transform(lambda x: 0.5 * x.min())

discounts = [0, 10, 30,50]
new_rows = []
for index, row in h1_df.iterrows():
    for discount in discounts:
        new_row = row.copy()
        new_row['discount%'] = discount
        new_rows.append(new_row)

h1_opti = pd.DataFrame(new_rows)
h1_opti = h1_opti[["item_id","state_id","price","sale_perday","elasticity","target_days","discount%","cost_price"]]

h1_opti["stock on hand"] = 100

h1_opti["discount_price"] = (1-h1_opti["discount%"]/100)*h1_opti["price"]

h1_opti["predict_total_sale"] = (h1_opti["target_days"]*h1_opti["sale_perday"])*(1+abs((h1_opti["discount_price"]-h1_opti["price"])/h1_opti["price"])*h1_opti["elasticity"])
h1_opti.reset_index(drop=True, inplace=True)
h1_opti.loc[h1_opti["predict_total_sale"] > h1_opti["stock on hand"], "predict_total_sale"] = h1_opti["stock on hand"]

h1_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale
0,HOBBIES_1_001,CA,8.26,1.498788,3.619992,7,0,4.13,100,8.260,10.491515
1,HOBBIES_1_001,CA,8.26,1.498788,3.619992,7,10,4.13,100,7.434,14.289435
2,HOBBIES_1_001,CA,8.26,1.498788,3.619992,7,30,4.13,100,5.782,21.885274
3,HOBBIES_1_001,CA,8.26,1.498788,3.619992,7,50,4.13,100,4.130,29.481114
4,HOBBIES_1_001,CA,8.38,1.721649,0.000000,7,0,4.13,100,8.380,12.051546
...,...,...,...,...,...,...,...,...,...,...,...
10739,HOBBIES_1_424,WI,1.60,1.789474,0.000000,7,50,0.65,100,0.800,12.526316
10740,HOBBIES_1_424,WI,1.30,5.000000,9.568625,7,0,0.65,100,1.300,35.000000
10741,HOBBIES_1_424,WI,1.30,5.000000,9.568625,7,10,0.65,100,1.170,68.490189
10742,HOBBIES_1_424,WI,1.30,5.000000,9.568625,7,30,0.65,100,0.910,100.000000
10743,HOBBIES_1_424,WI,1.30,5.000000,9.568625,7,50,0.65,100,0.650,100.000000

In [15]:
h1_opti["cost"] = round(h1_opti['cost_price']*h1_opti["predict_total_sale"],2)

h1_opti["revenue"] = round(h1_opti["discount_price"]*h1_opti["predict_total_sale"],2)

h1_opti["profit"] = h1_opti["revenue"]-h1_opti["cost"]

h1_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,HOBBIES_1_001,CA,8.26,1.498788,3.619992,7,0,4.13,100,8.260,10.491515,43.33,86.66,43.33
1,HOBBIES_1_001,CA,8.26,1.498788,3.619992,7,10,4.13,100,7.434,14.289435,59.02,106.23,47.21
2,HOBBIES_1_001,CA,8.26,1.498788,3.619992,7,30,4.13,100,5.782,21.885274,90.39,126.54,36.15
3,HOBBIES_1_001,CA,8.26,1.498788,3.619992,7,50,4.13,100,4.130,29.481114,121.76,121.76,0.00
4,HOBBIES_1_001,CA,8.38,1.721649,0.000000,7,0,4.13,100,8.380,12.051546,49.77,100.99,51.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10739,HOBBIES_1_424,WI,1.60,1.789474,0.000000,7,50,0.65,100,0.800,12.526316,8.14,10.02,1.88
10740,HOBBIES_1_424,WI,1.30,5.000000,9.568625,7,0,0.65,100,1.300,35.000000,22.75,45.50,22.75
10741,HOBBIES_1_424,WI,1.30,5.000000,9.568625,7,10,0.65,100,1.170,68.490189,44.52,80.13,35.61
10742,HOBBIES_1_424,WI,1.30,5.000000,9.568625,7,30,0.65,100,0.910,100.000000,65.00,91.00,26.00
10743,HOBBIES_1_424,WI,1.30,5.000000,9.568625,7,50,0.65,100,0.650,100.000000,65.00,65.00,0.00

In [16]:
h1_opti = h1_opti.loc[h1_opti.groupby(['item_id', 'state_id','price'])['profit'].idxmax()]
h1_opti.reset_index(drop=True, inplace=True)
h1_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,HOBBIES_1_001,CA,8.26,1.498788,3.619992,7,10,4.13,100,7.434,14.289435,59.02,106.23,47.21
1,HOBBIES_1_001,CA,8.38,1.721649,0.000000,7,0,4.13,100,8.380,12.051546,49.77,100.99,51.22
2,HOBBIES_1_001,TX,5.00,2.000000,1.430088,7,0,2.50,100,5.000,14.000000,35.00,70.00,35.00
3,HOBBIES_1_001,TX,8.26,1.278431,0.000000,7,0,2.50,100,8.260,8.949020,22.37,73.92,51.55
4,HOBBIES_1_001,TX,8.38,1.121212,0.692609,7,0,2.50,100,8.380,7.848485,19.62,65.77,46.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2681,HOBBIES_1_424,TX,1.77,1.650206,8.573324,7,30,0.50,100,1.239,41.261712,20.63,51.12,30.49
2682,HOBBIES_1_424,WI,1.30,5.000000,9.568625,7,10,0.65,100,1.170,68.490189,44.52,80.13,35.61
2683,HOBBIES_1_424,WI,1.60,1.789474,0.000000,7,0,0.65,100,1.600,12.526316,8.14,20.04,11.90
2684,HOBBIES_1_424,WI,1.64,2.226216,1.582618,7,0,0.65,100,1.640,15.583510,10.13,25.56,15.43
2685,HOBBIES_1_424,WI,1.77,1.994393,1.616341,7,0,0.65,100,1.770,13.960748,9.07,24.71,15.64

# HOBBIES 2 opti price

In [17]:
hobbies_2=my_data[my_data['dept_id']=="HOBBIES_2"]
hobbies_2 = hobbies_2.drop(hobbies_2[hobbies_2['unit_sale'] == 0].index)

In [18]:
h2_df = pd.DataFrame(columns=['item_id', 'dept_id', 'cat_id', 'state_id', 'price',  'sale_perday', 'price_change', 'sale_change', 'elasticity'])

# Filter the DataFrame once
filtered_df = hobbies_2.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']).filter(lambda x: len(x) > 0)

for (item_id, dept_id, cat_id, state_id), group_df in filtered_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']):
    for sell_price in group_df['sell_price'].unique():
        item_df = group_df[group_df['sell_price'] == sell_price]
        sale_perday = item_df['unit_sale'].mean()

        hobbies_2_df = pd.DataFrame({'item_id': [item_id], 'dept_id': [dept_id], 'cat_id': [cat_id], 'state_id': [state_id], 'price': [sell_price],'sale_perday': [sale_perday]})
        hobbies_2_df = hobbies_2_df.dropna()

        h2_df = h2_df.append(hobbies_2_df, ignore_index=True)

h2_df['price_change'] = h2_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['price'].pct_change() 
h2_df['sale_change'] = h2_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['sale_perday'].pct_change() 
h2_df['elasticity'] = -h2_df['sale_change'] / h2_df['price_change']

h2_df = h2_df.dropna()

C:\Users\hp\AppData\Local\Temp\ipykernel_7480\2950851603.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  h2_df = h2_df.append(hobbies_2_df, ignore_index=True)

In [19]:
h2_df['elasticity'] = h2_df['elasticity'].apply(lambda x: 0 if x < 0 else x)
h2_df

,item_id,dept_id,cat_id,state_id,price,sale_perday,price_change,sale_change,elasticity
1,HOBBIES_2_001,HOBBIES_2,HOBBIES,CA,5.67,1.125,0.036563,0.011364,0.000000
2,HOBBIES_2_001,HOBBIES_2,HOBBIES,CA,5.97,1.129944,0.05291,0.004394,0.000000
3,HOBBIES_2_001,HOBBIES_2,HOBBIES,CA,4.47,1.0,-0.251256,-0.115,0.000000
5,HOBBIES_2_001,HOBBIES_2,HOBBIES,TX,5.67,1.075,0.036563,-0.008226,0.224975
6,HOBBIES_2_001,HOBBIES_2,HOBBIES,TX,5.97,1.162338,0.05291,0.081244,0.000000
...,...,...,...,...,...,...,...,...,...
1039,HOBBIES_2_148,HOBBIES_2,HOBBIES,WI,1.17,1.0,0.329545,-0.321008,0.974095
1041,HOBBIES_2_149,HOBBIES_2,HOBBIES,CA,0.97,1.621951,-0.607287,0.23218,0.382323
1043,HOBBIES_2_149,HOBBIES_2,HOBBIES,TX,0.97,1.767196,-0.607287,0.294088,0.484265
1044,HOBBIES_2_149,HOBBIES_2,HOBBIES,TX,0.5,1.0,-0.484536,-0.434132,0.000000
1046,HOBBIES_2_149,HOBBIES_2,HOBBIES,WI,0.97,1.66287,-0.607287,0.306541,0.504771

In [20]:
h2_df["target_days"] = 7

grouped = h2_df.groupby(['item_id', 'state_id'])
h2_df['cost_price'] = grouped['price'].transform(lambda x: 0.5 * x.min())

discounts = [0, 10, 30,50]
new_rows = []
for index, row in h2_df.iterrows():
    for discount in discounts:
        new_row = row.copy()
        new_row['discount%'] = discount
        new_rows.append(new_row)

h2_opti = pd.DataFrame(new_rows)
h2_opti = h2_opti[["item_id","state_id","price","sale_perday","elasticity","target_days","discount%","cost_price"]]

h2_opti["stock on hand"] = 100

h2_opti["discount_price"] = (1-h2_opti["discount%"]/100)*h2_opti["price"]

h2_opti["predict_total_sale"] = (h2_opti["target_days"]*h2_opti["sale_perday"])*(1+abs((h2_opti["discount_price"]-h2_opti["price"])/h2_opti["price"])*h2_opti["elasticity"])
h2_opti.reset_index(drop=True, inplace=True)
h2_opti.loc[h2_opti["predict_total_sale"] > h2_opti["stock on hand"], "predict_total_sale"] = h2_opti["stock on hand"]

h2_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale
0,HOBBIES_2_001,CA,5.67,1.125000,0.000000,7,0,2.235,100,5.670,7.875000
1,HOBBIES_2_001,CA,5.67,1.125000,0.000000,7,10,2.235,100,5.103,7.875000
2,HOBBIES_2_001,CA,5.67,1.125000,0.000000,7,30,2.235,100,3.969,7.875000
3,HOBBIES_2_001,CA,5.67,1.125000,0.000000,7,50,2.235,100,2.835,7.875000
4,HOBBIES_2_001,CA,5.97,1.129944,0.000000,7,0,2.235,100,5.970,7.909605
...,...,...,...,...,...,...,...,...,...,...,...
2395,HOBBIES_2_149,TX,0.50,1.000000,0.000000,7,50,0.250,100,0.250,7.000000
2396,HOBBIES_2_149,WI,0.97,1.662870,0.504771,7,0,0.485,100,0.970,11.640091
2397,HOBBIES_2_149,WI,0.97,1.662870,0.504771,7,10,0.485,100,0.873,12.227649
2398,HOBBIES_2_149,WI,0.97,1.662870,0.504771,7,30,0.485,100,0.679,13.402764
2399,HOBBIES_2_149,WI,0.97,1.662870,0.504771,7,50,0.485,100,0.485,14.577879

In [21]:
h2_opti["cost"] = round(h2_opti['cost_price']*h2_opti["predict_total_sale"],2)

h2_opti["revenue"] = round(h2_opti["discount_price"]*h2_opti["predict_total_sale"],2)

h2_opti["profit"] = h2_opti["revenue"]-h2_opti["cost"]

h2_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,HOBBIES_2_001,CA,5.67,1.125000,0.000000,7,0,2.235,100,5.670,7.875000,17.60,44.65,27.05
1,HOBBIES_2_001,CA,5.67,1.125000,0.000000,7,10,2.235,100,5.103,7.875000,17.60,40.19,22.59
2,HOBBIES_2_001,CA,5.67,1.125000,0.000000,7,30,2.235,100,3.969,7.875000,17.60,31.26,13.66
3,HOBBIES_2_001,CA,5.67,1.125000,0.000000,7,50,2.235,100,2.835,7.875000,17.60,22.33,4.73
4,HOBBIES_2_001,CA,5.97,1.129944,0.000000,7,0,2.235,100,5.970,7.909605,17.68,47.22,29.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,HOBBIES_2_149,TX,0.50,1.000000,0.000000,7,50,0.250,100,0.250,7.000000,1.75,1.75,0.00
2396,HOBBIES_2_149,WI,0.97,1.662870,0.504771,7,0,0.485,100,0.970,11.640091,5.65,11.29,5.64
2397,HOBBIES_2_149,WI,0.97,1.662870,0.504771,7,10,0.485,100,0.873,12.227649,5.93,10.67,4.74
2398,HOBBIES_2_149,WI,0.97,1.662870,0.504771,7,30,0.485,100,0.679,13.402764,6.50,9.10,2.60
2399,HOBBIES_2_149,WI,0.97,1.662870,0.504771,7,50,0.485,100,0.485,14.577879,7.07,7.07,0.00

In [22]:
h2_opti = h2_opti.loc[h2_opti.groupby(['item_id', 'state_id','price'])['profit'].idxmax()]
h2_opti.reset_index(drop=True, inplace=True)
h2_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,HOBBIES_2_001,CA,4.47,1.000000,0.000000,7,0,2.235,100,4.47,7.000000,15.64,31.29,15.65
1,HOBBIES_2_001,CA,5.67,1.125000,0.000000,7,0,2.235,100,5.67,7.875000,17.60,44.65,27.05
2,HOBBIES_2_001,CA,5.97,1.129944,0.000000,7,0,2.235,100,5.97,7.909605,17.68,47.22,29.54
3,HOBBIES_2_001,TX,2.97,1.000000,0.000000,7,0,1.485,100,2.97,7.000000,10.40,20.79,10.39
4,HOBBIES_2_001,TX,5.67,1.075000,0.224975,7,0,1.485,100,5.67,7.525000,11.17,42.67,31.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,HOBBIES_2_148,WI,1.17,1.000000,0.974095,7,0,0.385,100,1.17,7.000000,2.69,8.19,5.50
596,HOBBIES_2_149,CA,0.97,1.621951,0.382323,7,0,0.485,100,0.97,11.353659,5.51,11.01,5.50
597,HOBBIES_2_149,TX,0.50,1.000000,0.000000,7,0,0.250,100,0.50,7.000000,1.75,3.50,1.75
598,HOBBIES_2_149,TX,0.97,1.767196,0.484265,7,0,0.250,100,0.97,12.370370,3.09,12.00,8.91
599,HOBBIES_2_149,WI,0.97,1.662870,0.504771,7,0,0.485,100,0.97,11.640091,5.65,11.29,5.64

# FOOD 1 opti price

In [23]:
food_1=my_data[my_data['dept_id']=="FOODS_1"]
food_1 = food_1.drop(food_1[food_1['unit_sale'] == 0].index)

In [24]:
f1_df = pd.DataFrame(columns=['item_id', 'dept_id', 'cat_id', 'state_id', 'price','sale_perday', 'price_change', 'sale_change', 'elasticity'])

# Filter the DataFrame once
filtered_df = food_1.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']).filter(lambda x: len(x) > 0)

for (item_id, dept_id, cat_id, state_id), group_df in filtered_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']):
    for sell_price in group_df['sell_price'].unique():
        item_df = group_df[group_df['sell_price'] == sell_price]
        sale_perday = item_df['unit_sale'].mean()

        foods_1_df = pd.DataFrame({'item_id': [item_id], 'dept_id': [dept_id], 'cat_id': [cat_id], 'state_id': [state_id], 'price': [sell_price], 'sale_perday': [sale_perday]})
        foods_1_df = foods_1_df.dropna()

        f1_df = f1_df.append(foods_1_df, ignore_index=True)

f1_df['price_change'] = f1_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['price'].pct_change() 
f1_df['sale_change'] = f1_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['sale_perday'].pct_change() 
f1_df['elasticity'] = -f1_df['sale_change'] / f1_df['price_change']

f1_df = f1_df.dropna()

C:\Users\hp\AppData\Local\Temp\ipykernel_7480\3612649397.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  f1_df = f1_df.append(foods_1_df, ignore_index=True)

In [25]:
f1_df['elasticity'] = f1_df['elasticity'].apply(lambda x: 0 if x < 0 else x)
f1_df

,item_id,dept_id,cat_id,state_id,price,sale_perday,price_change,sale_change,elasticity
1,FOODS_1_001,FOODS_1,FOODS,CA,2.24,2.013088,0.12,-0.115345,0.961211
2,FOODS_1_001,FOODS_1,FOODS,CA,1.75,1.0,-0.21875,-0.503251,0.000000
4,FOODS_1_001,FOODS_1,FOODS,TX,1.19,5.0,-0.405,1.943548,4.798885
5,FOODS_1_001,FOODS_1,FOODS,TX,1.0,7.0,-0.159664,0.4,2.505263
6,FOODS_1_001,FOODS_1,FOODS,TX,2.24,1.618609,1.24,-0.76877,0.619976
...,...,...,...,...,...,...,...,...,...
3029,FOODS_1_219,FOODS_1,FOODS,TX,2.24,2.48365,1.24,-0.862866,0.695860
3030,FOODS_1_219,FOODS_1,FOODS,TX,0.99,2.0,-0.558036,-0.194733,0.000000
3032,FOODS_1_219,FOODS_1,FOODS,WI,2.18,4.705882,0.09,0.082035,0.000000
3033,FOODS_1_219,FOODS_1,FOODS,WI,1.75,4.637931,-0.197248,-0.01444,0.000000
3034,FOODS_1_219,FOODS_1,FOODS,WI,2.24,3.513832,0.28,-0.242371,0.865610

In [26]:
f1_df["target_days"] = 7

grouped = f1_df.groupby(['item_id', 'state_id'])
f1_df['cost_price'] = grouped['price'].transform(lambda x: 0.5 * x.min())

discounts = [0, 10, 30,50]
new_rows = []
for index, row in f1_df.iterrows():
    for discount in discounts:
        new_row = row.copy()
        new_row['discount%'] = discount
        new_rows.append(new_row)

f1_opti = pd.DataFrame(new_rows)
f1_opti = f1_opti[["item_id","state_id","price","sale_perday","elasticity","target_days","discount%","cost_price"]]

f1_opti["stock on hand"] = 100

f1_opti["discount_price"] = (1-f1_opti["discount%"]/100)*f1_opti["price"]

f1_opti["predict_total_sale"] = (f1_opti["target_days"]*f1_opti["sale_perday"])*(1+abs((f1_opti["discount_price"]-f1_opti["price"])/f1_opti["price"])*f1_opti["elasticity"])
f1_opti.reset_index(drop=True, inplace=True)
f1_opti.loc[f1_opti["predict_total_sale"] > f1_opti["stock on hand"], "predict_total_sale"] = f1_opti["stock on hand"]

f1_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale
0,FOODS_1_001,CA,2.24,2.013088,0.961211,7,0,0.875,100,2.240,14.091614
1,FOODS_1_001,CA,2.24,2.013088,0.961211,7,10,0.875,100,2.016,15.446115
2,FOODS_1_001,CA,2.24,2.013088,0.961211,7,30,0.875,100,1.568,18.155118
3,FOODS_1_001,CA,2.24,2.013088,0.961211,7,50,0.875,100,1.120,20.864120
4,FOODS_1_001,CA,1.75,1.000000,0.000000,7,0,0.875,100,1.750,7.000000
...,...,...,...,...,...,...,...,...,...,...,...
9543,FOODS_1_219,WI,1.75,4.637931,0.000000,7,50,0.875,100,0.875,32.465517
9544,FOODS_1_219,WI,2.24,3.513832,0.865610,7,0,0.875,100,2.240,24.596825
9545,FOODS_1_219,WI,2.24,3.513832,0.865610,7,10,0.875,100,2.016,26.725951
9546,FOODS_1_219,WI,2.24,3.513832,0.865610,7,30,0.875,100,1.568,30.984201
9547,FOODS_1_219,WI,2.24,3.513832,0.865610,7,50,0.875,100,1.120,35.242452

In [27]:
f1_opti["cost"] = round(f1_opti['cost_price']*f1_opti["predict_total_sale"],2)

f1_opti["revenue"] = round(f1_opti["discount_price"]*f1_opti["predict_total_sale"],2)

f1_opti["profit"] = f1_opti["revenue"]-f1_opti["cost"]

f1_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,FOODS_1_001,CA,2.24,2.013088,0.961211,7,0,0.875,100,2.240,14.091614,12.33,31.57,19.24
1,FOODS_1_001,CA,2.24,2.013088,0.961211,7,10,0.875,100,2.016,15.446115,13.52,31.14,17.62
2,FOODS_1_001,CA,2.24,2.013088,0.961211,7,30,0.875,100,1.568,18.155118,15.89,28.47,12.58
3,FOODS_1_001,CA,2.24,2.013088,0.961211,7,50,0.875,100,1.120,20.864120,18.26,23.37,5.11
4,FOODS_1_001,CA,1.75,1.000000,0.000000,7,0,0.875,100,1.750,7.000000,6.12,12.25,6.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9543,FOODS_1_219,WI,1.75,4.637931,0.000000,7,50,0.875,100,0.875,32.465517,28.41,28.41,0.00
9544,FOODS_1_219,WI,2.24,3.513832,0.865610,7,0,0.875,100,2.240,24.596825,21.52,55.10,33.58
9545,FOODS_1_219,WI,2.24,3.513832,0.865610,7,10,0.875,100,2.016,26.725951,23.39,53.88,30.49
9546,FOODS_1_219,WI,2.24,3.513832,0.865610,7,30,0.875,100,1.568,30.984201,27.11,48.58,21.47
9547,FOODS_1_219,WI,2.24,3.513832,0.865610,7,50,0.875,100,1.120,35.242452,30.84,39.47,8.63

In [28]:
f1_opti = f1_opti.loc[f1_opti.groupby(['item_id', 'state_id','price'])['profit'].idxmax()]
f1_opti.reset_index(drop=True, inplace=True)
f1_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,FOODS_1_001,CA,1.75,1.000000,0.000000,7,0,0.875,100,1.750,7.000000,6.12,12.25,6.13
1,FOODS_1_001,CA,2.24,2.013088,0.961211,7,0,0.875,100,2.240,14.091614,12.33,31.57,19.24
2,FOODS_1_001,TX,0.99,2.000000,1.990000,7,0,0.495,100,0.990,14.000000,6.93,13.86,6.93
3,FOODS_1_001,TX,1.00,7.000000,2.505263,7,10,0.495,100,0.900,61.275786,30.33,55.15,24.82
4,FOODS_1_001,TX,1.19,5.000000,4.798885,7,10,0.495,100,1.071,51.796098,25.64,55.47,29.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2382,FOODS_1_219,TX,2.18,2.260870,2.019263,7,10,0.495,100,1.962,19.021791,9.42,37.32,27.90
2383,FOODS_1_219,TX,2.24,2.483650,0.695860,7,0,0.495,100,2.240,17.385549,8.61,38.94,30.33
2384,FOODS_1_219,WI,1.75,4.637931,0.000000,7,0,0.875,100,1.750,32.465517,28.41,56.81,28.40
2385,FOODS_1_219,WI,2.18,4.705882,0.000000,7,0,0.875,100,2.180,32.941176,28.82,71.81,42.99
2386,FOODS_1_219,WI,2.24,3.513832,0.865610,7,0,0.875,100,2.240,24.596825,21.52,55.10,33.58

# FOOD 2 opti price

In [29]:
food_2=my_data[my_data['dept_id']=="FOODS_2"]
food_2 = food_2.drop(food_2[food_2['unit_sale'] == 0].index)

In [30]:
f2_df = pd.DataFrame(columns=['item_id', 'dept_id', 'cat_id', 'state_id', 'price','sale_perday', 'price_change', 'sale_change', 'elasticity'])

# Filter the DataFrame once
filtered_df = food_2.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']).filter(lambda x: len(x) > 0)

for (item_id, dept_id, cat_id, state_id), group_df in filtered_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']):
    for sell_price in group_df['sell_price'].unique():
        item_df = group_df[group_df['sell_price'] == sell_price]
        sale_perday = item_df['unit_sale'].mean()

        foods_2_df = pd.DataFrame({'item_id': [item_id], 'dept_id': [dept_id], 'cat_id': [cat_id], 'state_id': [state_id], 'price': [sell_price], 'sale_perday': [sale_perday]})
        foods_2_df = foods_2_df.dropna()

        f2_df = f2_df.append(foods_2_df, ignore_index=True)

f2_df['price_change'] = f2_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['price'].pct_change() 
f2_df['sale_change'] = f2_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['sale_perday'].pct_change() 
f2_df['elasticity'] = -f2_df['sale_change'] / f2_df['price_change']

f2_df = f2_df.dropna()

C:\Users\hp\AppData\Local\Temp\ipykernel_7480\1039563831.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  f2_df = f2_df.append(foods_2_df, ignore_index=True)

In [31]:
f2_df['elasticity'] = f2_df['elasticity'].apply(lambda x: 0 if x < 0 else x)
f2_df

,item_id,dept_id,cat_id,state_id,price,sale_perday,price_change,sale_change,elasticity
1,FOODS_2_001,FOODS_2,FOODS,CA,1.97,1.87037,-0.172269,0.246914,1.433303
2,FOODS_2_001,FOODS_2,FOODS,CA,2.0,1.81074,0.015228,-0.031882,2.093559
3,FOODS_2_001,FOODS_2,FOODS,CA,2.28,1.2,0.14,-0.337288,2.409197
5,FOODS_2_001,FOODS_2,FOODS,TX,1.76,1.794118,0.060241,-0.231092,3.836133
6,FOODS_2_001,FOODS_2,FOODS,TX,2.0,1.733093,0.136364,-0.034014,0.249435
...,...,...,...,...,...,...,...,...,...
6005,FOODS_2_399,FOODS_2,FOODS,WI,1.88,2.282828,-0.050505,-0.256398,0.000000
6006,FOODS_2_399,FOODS_2,FOODS,WI,2.0,2.464789,0.06383,0.079708,0.000000
6007,FOODS_2_399,FOODS_2,FOODS,WI,2.1,2.0,0.05,-0.188571,3.771432
6008,FOODS_2_399,FOODS_2,FOODS,WI,2.14,2.010204,0.019048,0.005102,0.000000
6009,FOODS_2_399,FOODS_2,FOODS,WI,2.08,2.547619,-0.028037,0.267343,9.535223

In [32]:
f2_df["target_days"] = 7

grouped = f2_df.groupby(['item_id', 'state_id'])
f2_df['cost_price'] = grouped['price'].transform(lambda x: 0.5 * x.min())

discounts = [0, 10, 30,50]
new_rows = []
for index, row in f2_df.iterrows():
    for discount in discounts:
        new_row = row.copy()
        new_row['discount%'] = discount
        new_rows.append(new_row)

f2_opti = pd.DataFrame(new_rows)
f2_opti = f2_opti[["item_id","state_id","price","sale_perday","elasticity","target_days","discount%","cost_price"]]

f2_opti["stock on hand"] = 100

f2_opti["discount_price"] = (1-f2_opti["discount%"]/100)*f2_opti["price"]

f2_opti["predict_total_sale"] = (f2_opti["target_days"]*f2_opti["sale_perday"])*(1+abs((f2_opti["discount_price"]-f2_opti["price"])/f2_opti["price"])*f2_opti["elasticity"])
f2_opti.reset_index(drop=True, inplace=True)
f2_opti.loc[f2_opti["predict_total_sale"] > f2_opti["stock on hand"], "predict_total_sale"] = f2_opti["stock on hand"]

f2_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale
0,FOODS_2_001,CA,1.97,1.870370,1.433303,7,0,0.985,100,1.970,13.092593
1,FOODS_2_001,CA,1.97,1.870370,1.433303,7,10,0.985,100,1.773,14.969158
2,FOODS_2_001,CA,1.97,1.870370,1.433303,7,30,0.985,100,1.379,18.722288
3,FOODS_2_001,CA,1.97,1.870370,1.433303,7,50,0.985,100,0.985,22.475419
4,FOODS_2_001,CA,2.00,1.810740,2.093559,7,0,0.985,100,2.000,12.675180
...,...,...,...,...,...,...,...,...,...,...,...
19259,FOODS_2_399,WI,2.14,2.010204,0.000000,7,50,0.940,100,1.070,14.071429
19260,FOODS_2_399,WI,2.08,2.547619,9.535223,7,0,0.940,100,2.080,17.833333
19261,FOODS_2_399,WI,2.08,2.547619,9.535223,7,10,0.940,100,1.872,34.837814
19262,FOODS_2_399,WI,2.08,2.547619,9.535223,7,30,0.940,100,1.456,68.846775
19263,FOODS_2_399,WI,2.08,2.547619,9.535223,7,50,0.940,100,1.040,100.000000

In [33]:
f2_opti["cost"] = round(f2_opti['cost_price']*f2_opti["predict_total_sale"],2)

f2_opti["revenue"] = round(f2_opti["discount_price"]*f2_opti["predict_total_sale"],2)

f2_opti["profit"] = f2_opti["revenue"]-f2_opti["cost"]

f2_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,FOODS_2_001,CA,1.97,1.870370,1.433303,7,0,0.985,100,1.970,13.092593,12.90,25.79,12.89
1,FOODS_2_001,CA,1.97,1.870370,1.433303,7,10,0.985,100,1.773,14.969158,14.74,26.54,11.80
2,FOODS_2_001,CA,1.97,1.870370,1.433303,7,30,0.985,100,1.379,18.722288,18.44,25.82,7.38
3,FOODS_2_001,CA,1.97,1.870370,1.433303,7,50,0.985,100,0.985,22.475419,22.14,22.14,0.00
4,FOODS_2_001,CA,2.00,1.810740,2.093559,7,0,0.985,100,2.000,12.675180,12.49,25.35,12.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19259,FOODS_2_399,WI,2.14,2.010204,0.000000,7,50,0.940,100,1.070,14.071429,13.23,15.06,1.83
19260,FOODS_2_399,WI,2.08,2.547619,9.535223,7,0,0.940,100,2.080,17.833333,16.76,37.09,20.33
19261,FOODS_2_399,WI,2.08,2.547619,9.535223,7,10,0.940,100,1.872,34.837814,32.75,65.22,32.47
19262,FOODS_2_399,WI,2.08,2.547619,9.535223,7,30,0.940,100,1.456,68.846775,64.72,100.24,35.52
19263,FOODS_2_399,WI,2.08,2.547619,9.535223,7,50,0.940,100,1.040,100.000000,94.00,104.00,10.00

In [34]:
f2_opti = f2_opti.loc[f2_opti.groupby(['item_id', 'state_id','price'])['profit'].idxmax()]
f2_opti.reset_index(drop=True, inplace=True)
f2_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,FOODS_2_001,CA,1.97,1.870370,1.433303,7,0,0.985,100,1.970,13.092593,12.90,25.79,12.89
1,FOODS_2_001,CA,2.00,1.810740,2.093559,7,0,0.985,100,2.000,12.675180,12.49,25.35,12.86
2,FOODS_2_001,CA,2.28,1.200000,2.409197,7,10,0.985,100,2.052,10.423725,10.27,21.39,11.12
3,FOODS_2_001,TX,0.99,2.000000,0.304963,7,0,0.495,100,0.990,14.000000,6.93,13.86,6.93
4,FOODS_2_001,TX,1.76,1.794118,3.836133,7,30,0.495,100,1.232,27.012020,13.37,33.28,19.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4811,FOODS_2_399,WI,1.88,2.282828,0.000000,7,0,0.940,100,1.880,15.979798,15.02,30.04,15.02
4812,FOODS_2_399,WI,2.00,2.464789,0.000000,7,0,0.940,100,2.000,17.253521,16.22,34.51,18.29
4813,FOODS_2_399,WI,2.08,2.547619,9.535223,7,30,0.940,100,1.456,68.846775,64.72,100.24,35.52
4814,FOODS_2_399,WI,2.10,2.000000,3.771432,7,10,0.940,100,1.890,19.280005,18.12,36.44,18.32
4815,FOODS_2_399,WI,2.14,2.010204,0.000000,7,0,0.940,100,2.140,14.071429,13.23,30.11,16.88

# FOOD 3 opti price

In [35]:
food_3=my_data[my_data['dept_id']=="FOODS_3"]
food_3 = food_3.drop(food_3[food_3['unit_sale'] == 0].index)

In [36]:
f3_df = pd.DataFrame(columns=['item_id', 'dept_id', 'cat_id', 'state_id', 'price','sale_perday', 'price_change', 'sale_change', 'elasticity'])

# Filter the DataFrame once
filtered_df = food_3.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']).filter(lambda x: len(x) > 0)

for (item_id, dept_id, cat_id, state_id), group_df in filtered_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']):
    for sell_price in group_df['sell_price'].unique():
        item_df = group_df[group_df['sell_price'] == sell_price]
        sale_perday = item_df['unit_sale'].mean()

        foods_3_df = pd.DataFrame({'item_id': [item_id], 'dept_id': [dept_id], 'cat_id': [cat_id], 'state_id': [state_id], 'price': [sell_price], 'sale_perday': [sale_perday]})
        foods_3_df = foods_3_df.dropna()

        f3_df = f3_df.append(foods_3_df, ignore_index=True)

f3_df['price_change'] = f3_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['price'].pct_change() 
f3_df['sale_change'] = f3_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['sale_perday'].pct_change() 
f3_df['elasticity'] = -f3_df['sale_change'] / f3_df['price_change']

f3_df = f3_df.dropna()

C:\Users\hp\AppData\Local\Temp\ipykernel_7480\1872496706.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  f3_df = f3_df.append(foods_3_df, ignore_index=True)

In [37]:
f3_df['elasticity'] = f3_df['elasticity'].apply(lambda x: 0 if x < 0 else x)
f3_df

,item_id,dept_id,cat_id,state_id,price,sale_perday,price_change,sale_change,elasticity
1,FOODS_3_001,FOODS_3,FOODS,CA,2.5,1.934848,0.096491,0.051723,0.000000
2,FOODS_3_001,FOODS_3,FOODS,CA,2.0,2.166667,-0.2,0.119812,0.599060
3,FOODS_3_001,FOODS_3,FOODS,CA,1.98,1.25,-0.01,-0.423077,0.000000
5,FOODS_3_001,FOODS_3,FOODS,TX,2.5,1.621834,0.096491,-0.083598,0.866377
6,FOODS_3_001,FOODS_3,FOODS,TX,1.25,10.0,-0.5,5.165859,10.331718
...,...,...,...,...,...,...,...,...,...
8809,FOODS_3_825,FOODS_3,FOODS,TX,1.99,1.0,-0.200803,0.0,0.000000
8811,FOODS_3_825,FOODS_3,FOODS,WI,4.38,1.583554,0.095,-0.329782,3.471388
8812,FOODS_3_825,FOODS_3,FOODS,WI,3.98,1.80985,-0.091324,0.142903,1.564791
8815,FOODS_3_826,FOODS_3,FOODS,TX,1.0,2.0,-0.21875,0.165173,0.755076
8819,FOODS_3_827,FOODS_3,FOODS,TX,0.5,18.0,-0.5,6.020408,12.040816

In [38]:
f3_df["target_days"] = 7

grouped = f3_df.groupby(['item_id', 'state_id'])
f3_df['cost_price'] = grouped['price'].transform(lambda x: 0.5 * x.min())

discounts = [0, 10, 30,50]
new_rows = []
for index, row in f3_df.iterrows():
    for discount in discounts:
        new_row = row.copy()
        new_row['discount%'] = discount
        new_rows.append(new_row)

f3_opti = pd.DataFrame(new_rows)
f3_opti = f3_opti[["item_id","state_id","price","sale_perday","elasticity","target_days","discount%","cost_price"]]

f3_opti["stock on hand"] = 100

f3_opti["discount_price"] = (1-f3_opti["discount%"]/100)*f3_opti["price"]

f3_opti["predict_total_sale"] = (f3_opti["target_days"]*f3_opti["sale_perday"])*(1+abs((f3_opti["discount_price"]-f3_opti["price"])/f3_opti["price"])*f3_opti["elasticity"])
f3_opti.reset_index(drop=True, inplace=True)
f3_opti.loc[f3_opti["predict_total_sale"] > f3_opti["stock on hand"], "predict_total_sale"] = f3_opti["stock on hand"]

f3_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale
0,FOODS_3_001,CA,2.5,1.934848,0.000000,7,0,0.99,100,2.50,13.543939
1,FOODS_3_001,CA,2.5,1.934848,0.000000,7,10,0.99,100,2.25,13.543939
2,FOODS_3_001,CA,2.5,1.934848,0.000000,7,30,0.99,100,1.75,13.543939
3,FOODS_3_001,CA,2.5,1.934848,0.000000,7,50,0.99,100,1.25,13.543939
4,FOODS_3_001,CA,2.0,2.166667,0.599060,7,0,0.99,100,2.00,15.166667
...,...,...,...,...,...,...,...,...,...,...,...
25403,FOODS_3_826,TX,1.0,2.000000,0.755076,7,50,0.50,100,0.50,19.285532
25404,FOODS_3_827,TX,0.5,18.000000,12.040816,7,0,0.25,100,0.50,100.000000
25405,FOODS_3_827,TX,0.5,18.000000,12.040816,7,10,0.25,100,0.45,100.000000
25406,FOODS_3_827,TX,0.5,18.000000,12.040816,7,30,0.25,100,0.35,100.000000
25407,FOODS_3_827,TX,0.5,18.000000,12.040816,7,50,0.25,100,0.25,100.000000

In [39]:
f3_opti["cost"] = round(f3_opti['cost_price']*f3_opti["predict_total_sale"],2)

f3_opti["revenue"] = round(f3_opti["discount_price"]*f3_opti["predict_total_sale"],2)

f3_opti["profit"] = f3_opti["revenue"]-f3_opti["cost"]

f3_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,FOODS_3_001,CA,2.5,1.934848,0.000000,7,0,0.99,100,2.50,13.543939,13.41,33.86,20.45
1,FOODS_3_001,CA,2.5,1.934848,0.000000,7,10,0.99,100,2.25,13.543939,13.41,30.47,17.06
2,FOODS_3_001,CA,2.5,1.934848,0.000000,7,30,0.99,100,1.75,13.543939,13.41,23.70,10.29
3,FOODS_3_001,CA,2.5,1.934848,0.000000,7,50,0.99,100,1.25,13.543939,13.41,16.93,3.52
4,FOODS_3_001,CA,2.0,2.166667,0.599060,7,0,0.99,100,2.00,15.166667,15.02,30.33,15.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25403,FOODS_3_826,TX,1.0,2.000000,0.755076,7,50,0.50,100,0.50,19.285532,9.64,9.64,0.00
25404,FOODS_3_827,TX,0.5,18.000000,12.040816,7,0,0.25,100,0.50,100.000000,25.00,50.00,25.00
25405,FOODS_3_827,TX,0.5,18.000000,12.040816,7,10,0.25,100,0.45,100.000000,25.00,45.00,20.00
25406,FOODS_3_827,TX,0.5,18.000000,12.040816,7,30,0.25,100,0.35,100.000000,25.00,35.00,10.00
25407,FOODS_3_827,TX,0.5,18.000000,12.040816,7,50,0.25,100,0.25,100.000000,25.00,25.00,0.00

In [40]:
f3_opti = f3_opti.loc[f3_opti.groupby(['item_id', 'state_id','price'])['profit'].idxmax()]
f3_opti.reset_index(drop=True, inplace=True)
f3_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,FOODS_3_001,CA,1.98,1.250000,0.000000,7,0,0.990,100,1.980,8.750000,8.66,17.33,8.67
1,FOODS_3_001,CA,2.00,2.166667,0.599060,7,0,0.990,100,2.000,15.166667,15.02,30.33,15.31
2,FOODS_3_001,CA,2.50,1.934848,0.000000,7,0,0.990,100,2.500,13.543939,13.41,33.86,20.45
3,FOODS_3_001,TX,0.79,4.000000,2.125148,7,0,0.395,100,0.790,28.000000,11.06,22.12,11.06
4,FOODS_3_001,TX,0.88,3.833333,0.365741,7,0,0.395,100,0.880,26.833333,10.60,23.61,13.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6347,FOODS_3_825,TX,4.38,1.689320,3.483812,7,30,0.995,100,3.066,24.184319,24.06,74.15,50.09
6348,FOODS_3_825,WI,3.98,1.809850,1.564791,7,0,1.990,100,3.980,12.668947,25.21,50.42,25.21
6349,FOODS_3_825,WI,4.38,1.583554,3.471388,7,10,1.990,100,3.942,14.932873,29.72,58.87,29.15
6350,FOODS_3_826,TX,1.00,2.000000,0.755076,7,0,0.500,100,1.000,14.000000,7.00,14.00,7.00
6351,FOODS_3_827,TX,0.50,18.000000,12.040816,7,0,0.250,100,0.500,100.000000,25.00,50.00,25.00

# HOUSEHOLD 1 opti price

In [41]:
household_1=my_data[my_data['dept_id']=="HOUSEHOLD_1"]
household_1 = household_1.drop(household_1[household_1['unit_sale'] == 0].index)

In [42]:
ho1_df = pd.DataFrame(columns=['item_id', 'dept_id', 'cat_id', 'state_id', 'price', 'sale_perday', 'price_change', 'sale_change', 'elasticity'])

# Filter the DataFrame once
filtered_df = household_1.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']).filter(lambda x: len(x) > 0)

for (item_id, dept_id, cat_id, state_id), group_df in filtered_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']):
    for sell_price in group_df['sell_price'].unique():
        item_df = group_df[group_df['sell_price'] == sell_price]
        sale_perday = item_df['unit_sale'].mean()

        household_1_df = pd.DataFrame({'item_id': [item_id], 'dept_id': [dept_id], 'cat_id': [cat_id], 'state_id': [state_id], 'price': [sell_price], 'sale_perday': [sale_perday]})
        household_1_df = household_1_df.dropna()

        ho1_df = ho1_df.append(household_1_df, ignore_index=True)

ho1_df['price_change'] = ho1_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['price'].pct_change() 
ho1_df['sale_change'] = ho1_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['sale_perday'].pct_change() 
ho1_df['elasticity'] = -ho1_df['sale_change'] / ho1_df['price_change']

ho1_df = ho1_df.dropna()

C:\Users\hp\AppData\Local\Temp\ipykernel_7480\1741502743.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ho1_df = ho1_df.append(household_1_df, ignore_index=True)

In [43]:
ho1_df['elasticity'] = ho1_df['elasticity'].apply(lambda x: 0 if x < 0 else x)
ho1_df

,item_id,dept_id,cat_id,state_id,price,sale_perday,price_change,sale_change,elasticity
1,HOUSEHOLD_1_001,HOUSEHOLD_1,HOUSEHOLD,CA,6.27,1.227723,-0.007911,-0.055598,0.000000
2,HOUSEHOLD_1_001,HOUSEHOLD_1,HOUSEHOLD,CA,6.97,1.410774,0.111643,0.149099,0.000000
3,HOUSEHOLD_1_001,HOUSEHOLD_1,HOUSEHOLD,CA,5.97,1.462074,-0.143472,0.036363,0.253447
4,HOUSEHOLD_1_001,HOUSEHOLD_1,HOUSEHOLD,CA,4.5,1.4,-0.246231,-0.042456,0.000000
5,HOUSEHOLD_1_001,HOUSEHOLD_1,HOUSEHOLD,CA,5.37,1.25,0.193333,-0.107143,0.554187
...,...,...,...,...,...,...,...,...,...
4817,HOUSEHOLD_1_541,HOUSEHOLD_1,HOUSEHOLD,CA,5.97,1.0,-0.143472,-0.681598,0.000000
4819,HOUSEHOLD_1_541,HOUSEHOLD_1,HOUSEHOLD,TX,7.5,1.952586,-0.058971,-0.097037,0.000000
4820,HOUSEHOLD_1_541,HOUSEHOLD_1,HOUSEHOLD,TX,6.97,2.763769,-0.070667,0.41544,5.878869
4822,HOUSEHOLD_1_541,HOUSEHOLD_1,HOUSEHOLD,WI,7.5,2.461538,-0.058971,-0.130124,0.000000
4823,HOUSEHOLD_1_541,HOUSEHOLD_1,HOUSEHOLD,WI,6.97,2.568502,-0.070667,0.043454,0.614914

In [44]:
ho1_df["target_days"] = 7

grouped = ho1_df.groupby(['item_id', 'state_id'])
ho1_df['cost_price'] = grouped['price'].transform(lambda x: 0.5 * x.min())

discounts = [0, 10, 30,50]
new_rows = []
for index, row in ho1_df.iterrows():
    for discount in discounts:
        new_row = row.copy()
        new_row['discount%'] = discount
        new_rows.append(new_row)

ho1_opti = pd.DataFrame(new_rows)
ho1_opti = ho1_opti[["item_id","state_id","price","sale_perday","elasticity","target_days","discount%","cost_price"]]

ho1_opti["stock on hand"] = 100

ho1_opti["discount_price"] = (1-ho1_opti["discount%"]/100)*ho1_opti["price"]

ho1_opti["predict_total_sale"] = (ho1_opti["target_days"]*ho1_opti["sale_perday"])*(1+abs((ho1_opti["discount_price"]-ho1_opti["price"])/ho1_opti["price"])*ho1_opti["elasticity"])
ho1_opti.reset_index(drop=True, inplace=True)
ho1_opti.loc[ho1_opti["predict_total_sale"] > ho1_opti["stock on hand"], "predict_total_sale"] = ho1_opti["stock on hand"]

ho1_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale
0,HOUSEHOLD_1_001,CA,6.27,1.227723,0.000000,7,0,2.250,100,6.270,8.594059
1,HOUSEHOLD_1_001,CA,6.27,1.227723,0.000000,7,10,2.250,100,5.643,8.594059
2,HOUSEHOLD_1_001,CA,6.27,1.227723,0.000000,7,30,2.250,100,4.389,8.594059
3,HOUSEHOLD_1_001,CA,6.27,1.227723,0.000000,7,50,2.250,100,3.135,8.594059
4,HOUSEHOLD_1_001,CA,6.97,1.410774,0.000000,7,0,2.250,100,6.970,9.875421
...,...,...,...,...,...,...,...,...,...,...,...
12907,HOUSEHOLD_1_541,WI,7.50,2.461538,0.000000,7,50,3.485,100,3.750,17.230769
12908,HOUSEHOLD_1_541,WI,6.97,2.568502,0.614914,7,0,3.485,100,6.970,17.979513
12909,HOUSEHOLD_1_541,WI,6.97,2.568502,0.614914,7,10,3.485,100,6.273,19.085098
12910,HOUSEHOLD_1_541,WI,6.97,2.568502,0.614914,7,30,3.485,100,4.879,21.296267
12911,HOUSEHOLD_1_541,WI,6.97,2.568502,0.614914,7,50,3.485,100,3.485,23.507436

In [45]:
ho1_opti["cost"] = round(ho1_opti['cost_price']*ho1_opti["predict_total_sale"],2)

ho1_opti["revenue"] = round(ho1_opti["discount_price"]*ho1_opti["predict_total_sale"],2)

ho1_opti["profit"] = ho1_opti["revenue"]-ho1_opti["cost"]

ho1_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,HOUSEHOLD_1_001,CA,6.27,1.227723,0.000000,7,0,2.250,100,6.270,8.594059,19.34,53.88,34.54
1,HOUSEHOLD_1_001,CA,6.27,1.227723,0.000000,7,10,2.250,100,5.643,8.594059,19.34,48.50,29.16
2,HOUSEHOLD_1_001,CA,6.27,1.227723,0.000000,7,30,2.250,100,4.389,8.594059,19.34,37.72,18.38
3,HOUSEHOLD_1_001,CA,6.27,1.227723,0.000000,7,50,2.250,100,3.135,8.594059,19.34,26.94,7.60
4,HOUSEHOLD_1_001,CA,6.97,1.410774,0.000000,7,0,2.250,100,6.970,9.875421,22.22,68.83,46.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12907,HOUSEHOLD_1_541,WI,7.50,2.461538,0.000000,7,50,3.485,100,3.750,17.230769,60.05,64.62,4.57
12908,HOUSEHOLD_1_541,WI,6.97,2.568502,0.614914,7,0,3.485,100,6.970,17.979513,62.66,125.32,62.66
12909,HOUSEHOLD_1_541,WI,6.97,2.568502,0.614914,7,10,3.485,100,6.273,19.085098,66.51,119.72,53.21
12910,HOUSEHOLD_1_541,WI,6.97,2.568502,0.614914,7,30,3.485,100,4.879,21.296267,74.22,103.90,29.68
12911,HOUSEHOLD_1_541,WI,6.97,2.568502,0.614914,7,50,3.485,100,3.485,23.507436,81.92,81.92,0.00

In [46]:
ho1_opti = ho1_opti.loc[ho1_opti.groupby(['item_id', 'state_id','price'])['profit'].idxmax()]
ho1_opti.reset_index(drop=True, inplace=True)
ho1_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,HOUSEHOLD_1_001,CA,4.50,1.400000,0.000000,7,0,2.250,100,4.500,9.800000,22.05,44.10,22.05
1,HOUSEHOLD_1_001,CA,5.37,1.250000,0.554187,7,0,2.250,100,5.370,8.750000,19.69,46.99,27.30
2,HOUSEHOLD_1_001,CA,5.97,1.462074,0.253447,7,0,2.250,100,5.970,10.234516,23.03,61.10,38.07
3,HOUSEHOLD_1_001,CA,6.27,1.227723,0.000000,7,0,2.250,100,6.270,8.594059,19.34,53.88,34.54
4,HOUSEHOLD_1_001,CA,6.97,1.410774,0.000000,7,0,2.250,100,6.970,9.875421,22.22,68.83,46.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3223,HOUSEHOLD_1_541,CA,7.50,3.365385,0.000000,7,0,2.985,100,7.500,23.557692,70.32,176.68,106.36
3224,HOUSEHOLD_1_541,TX,6.97,2.763769,5.878869,7,10,3.485,100,6.273,30.719869,107.06,192.71,85.65
3225,HOUSEHOLD_1_541,TX,7.50,1.952586,0.000000,7,0,3.485,100,7.500,13.668103,47.63,102.51,54.88
3226,HOUSEHOLD_1_541,WI,6.97,2.568502,0.614914,7,0,3.485,100,6.970,17.979513,62.66,125.32,62.66
3227,HOUSEHOLD_1_541,WI,7.50,2.461538,0.000000,7,0,3.485,100,7.500,17.230769,60.05,129.23,69.18

# HOUSEHOLD 2 opti price

In [47]:
household_2=my_data[my_data['dept_id']=="HOUSEHOLD_2"]
household_2 = household_2.drop(household_2[household_2['unit_sale'] == 0].index)

In [48]:
ho2_df = pd.DataFrame(columns=['item_id', 'dept_id', 'cat_id', 'state_id', 'price', 'sale_perday', 'price_change', 'sale_change', 'elasticity'])

# Filter the DataFrame once
filtered_df = household_2.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']).filter(lambda x: len(x) > 0)

for (item_id, dept_id, cat_id, state_id), group_df in filtered_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id']):
    for sell_price in group_df['sell_price'].unique():
        item_df = group_df[group_df['sell_price'] == sell_price]
        sale_perday = item_df['unit_sale'].mean()

        household_2_df = pd.DataFrame({'item_id': [item_id], 'dept_id': [dept_id], 'cat_id': [cat_id], 'state_id': [state_id], 'price': [sell_price] ,'sale_perday': [sale_perday]})
        household_2_df = household_2_df.dropna()

        ho2_df = ho2_df.append(household_2_df, ignore_index=True)

ho2_df['price_change'] = ho2_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['price'].pct_change() 
ho2_df['sale_change'] = ho2_df.groupby(['item_id', 'dept_id', 'cat_id', 'state_id'])['sale_perday'].pct_change() 
ho2_df['elasticity'] = -ho2_df['sale_change'] / ho2_df['price_change']

ho2_df=ho2_df.dropna()

C:\Users\hp\AppData\Local\Temp\ipykernel_7480\1166164278.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ho2_df = ho2_df.append(household_2_df, ignore_index=True)

In [49]:
ho2_df['elasticity'] = ho2_df['elasticity'].apply(lambda x: 0 if x < 0 else x)
ho2_df

,item_id,dept_id,cat_id,state_id,price,sale_perday,price_change,sale_change,elasticity
1,HOUSEHOLD_2_001,HOUSEHOLD_2,HOUSEHOLD,CA,6.77,1.306818,0.046368,-0.058332,1.258029
2,HOUSEHOLD_2_001,HOUSEHOLD_2,HOUSEHOLD,CA,5.97,1.0,-0.118168,-0.234783,0.000000
4,HOUSEHOLD_2_001,HOUSEHOLD_2,HOUSEHOLD,TX,6.77,1.187023,0.046368,-0.003441,0.074220
5,HOUSEHOLD_2_001,HOUSEHOLD_2,HOUSEHOLD,TX,5.97,1.0,-0.118168,-0.157556,0.000000
6,HOUSEHOLD_2_001,HOUSEHOLD_2,HOUSEHOLD,TX,1.99,3.0,-0.666667,2.0,3.000000
...,...,...,...,...,...,...,...,...,...
4129,HOUSEHOLD_2_514,HOUSEHOLD_2,HOUSEHOLD,WI,18.469999,1.4,-0.119218,0.4,3.355200
4132,HOUSEHOLD_2_515,HOUSEHOLD_2,HOUSEHOLD,TX,0.98,1.0,-0.502538,-0.194444,0.000000
4136,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,TX,3.94,2.0,-0.3367,0.767932,2.280760
4137,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,TX,3.0,9.0,-0.238579,3.5,14.670212
4138,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,TX,0.99,1.0,-0.67,-0.888889,0.000000

In [50]:
ho2_df["target_days"] = 7

grouped = ho2_df.groupby(['item_id', 'state_id'])
ho2_df['cost_price'] = grouped['price'].transform(lambda x: 0.5 * x.min())

discounts = [0, 10, 30,50]
new_rows = []
for index, row in ho2_df.iterrows():
    for discount in discounts:
        new_row = row.copy()
        new_row['discount%'] = discount
        new_rows.append(new_row)

ho2_opti = pd.DataFrame(new_rows)
ho2_opti = ho2_opti[["item_id","state_id","price","sale_perday","elasticity","target_days","discount%","cost_price"]]

ho2_opti["stock on hand"] = 100

ho2_opti["discount_price"] = (1-ho2_opti["discount%"]/100)*ho2_opti["price"]

ho2_opti["predict_total_sale"] = (ho2_opti["target_days"]*ho2_opti["sale_perday"])*(1+abs((ho2_opti["discount_price"]-ho2_opti["price"])/ho2_opti["price"])*ho2_opti["elasticity"])
ho2_opti.reset_index(drop=True, inplace=True)
ho2_opti.loc[ho2_opti["predict_total_sale"] > ho2_opti["stock on hand"], "predict_total_sale"] = ho2_opti["stock on hand"]

ho2_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale
0,HOUSEHOLD_2_001,CA,6.77,1.306818,1.258029,7,0,2.985,100,6.770,9.147727
1,HOUSEHOLD_2_001,CA,6.77,1.306818,1.258029,7,10,2.985,100,6.093,10.298538
2,HOUSEHOLD_2_001,CA,6.77,1.306818,1.258029,7,30,2.985,100,4.739,12.600160
3,HOUSEHOLD_2_001,CA,6.77,1.306818,1.258029,7,50,2.985,100,3.385,14.901782
4,HOUSEHOLD_2_001,CA,5.97,1.000000,0.000000,7,0,2.985,100,5.970,7.000000
...,...,...,...,...,...,...,...,...,...,...,...
10375,HOUSEHOLD_2_516,TX,3.00,9.000000,14.670212,7,50,0.495,100,1.500,100.000000
10376,HOUSEHOLD_2_516,TX,0.99,1.000000,0.000000,7,0,0.495,100,0.990,7.000000
10377,HOUSEHOLD_2_516,TX,0.99,1.000000,0.000000,7,10,0.495,100,0.891,7.000000
10378,HOUSEHOLD_2_516,TX,0.99,1.000000,0.000000,7,30,0.495,100,0.693,7.000000
10379,HOUSEHOLD_2_516,TX,0.99,1.000000,0.000000,7,50,0.495,100,0.495,7.000000

In [51]:
ho2_opti["cost"] = round(ho2_opti['cost_price']*ho2_opti["predict_total_sale"],2)

ho2_opti["revenue"] = round(ho2_opti["discount_price"]*ho2_opti["predict_total_sale"],2)

ho2_opti["profit"] = ho2_opti["revenue"]-ho2_opti["cost"]

ho2_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,HOUSEHOLD_2_001,CA,6.77,1.306818,1.258029,7,0,2.985,100,6.770,9.147727,27.31,61.93,34.62
1,HOUSEHOLD_2_001,CA,6.77,1.306818,1.258029,7,10,2.985,100,6.093,10.298538,30.74,62.75,32.01
2,HOUSEHOLD_2_001,CA,6.77,1.306818,1.258029,7,30,2.985,100,4.739,12.600160,37.61,59.71,22.10
3,HOUSEHOLD_2_001,CA,6.77,1.306818,1.258029,7,50,2.985,100,3.385,14.901782,44.48,50.44,5.96
4,HOUSEHOLD_2_001,CA,5.97,1.000000,0.000000,7,0,2.985,100,5.970,7.000000,20.89,41.79,20.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10375,HOUSEHOLD_2_516,TX,3.00,9.000000,14.670212,7,50,0.495,100,1.500,100.000000,49.50,150.00,100.50
10376,HOUSEHOLD_2_516,TX,0.99,1.000000,0.000000,7,0,0.495,100,0.990,7.000000,3.47,6.93,3.46
10377,HOUSEHOLD_2_516,TX,0.99,1.000000,0.000000,7,10,0.495,100,0.891,7.000000,3.47,6.24,2.77
10378,HOUSEHOLD_2_516,TX,0.99,1.000000,0.000000,7,30,0.495,100,0.693,7.000000,3.47,4.85,1.38
10379,HOUSEHOLD_2_516,TX,0.99,1.000000,0.000000,7,50,0.495,100,0.495,7.000000,3.47,3.47,0.00

In [52]:
ho2_opti = ho2_opti.loc[ho2_opti.groupby(['item_id', 'state_id','price'])['profit'].idxmax()]
ho2_opti.reset_index(drop=True, inplace=True)
ho2_opti

,item_id,state_id,price,sale_perday,elasticity,target_days,discount%,cost_price,stock on hand,discount_price,predict_total_sale,cost,revenue,profit
0,HOUSEHOLD_2_001,CA,5.970000,1.000000,0.000000,7,0,2.985,100,5.970000,7.000000,20.89,41.79,20.90
1,HOUSEHOLD_2_001,CA,6.770000,1.306818,1.258029,7,0,2.985,100,6.770000,9.147727,27.31,61.93,34.62
2,HOUSEHOLD_2_001,TX,1.990000,3.000000,3.000000,7,10,0.995,100,1.791000,27.300000,27.16,48.89,21.73
3,HOUSEHOLD_2_001,TX,5.970000,1.000000,0.000000,7,0,0.995,100,5.970000,7.000000,6.97,41.79,34.82
4,HOUSEHOLD_2_001,TX,6.770000,1.187023,0.074220,7,0,0.995,100,6.770000,8.309160,8.27,56.25,47.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2590,HOUSEHOLD_2_514,WI,20.969999,1.000000,1.051104,7,0,7.970,100,20.969999,7.000000,55.79,146.79,91.00
2591,HOUSEHOLD_2_515,TX,0.980000,1.000000,0.000000,7,0,0.490,100,0.980000,7.000000,3.43,6.86,3.43
2592,HOUSEHOLD_2_516,TX,0.990000,1.000000,0.000000,7,0,0.495,100,0.990000,7.000000,3.47,6.93,3.46
2593,HOUSEHOLD_2_516,TX,3.000000,9.000000,14.670212,7,10,0.495,100,2.700000,100.000000,49.50,270.00,220.50
2594,HOUSEHOLD_2_516,TX,3.940000,2.000000,2.280760,7,30,0.495,100,2.758000,23.579190,11.67,65.03,53.36

In [53]:
h1_opti.to_csv('h1_opti.csv')
h2_opti.to_csv('h2_opti.csv')
ho1_opti.to_csv('ho1_opti.csv')
ho2_opti.to_csv('ho2_opti.csv')
f1_opti.to_csv('f1_opti.csv')
f2_opti.to_csv('f2_opti.csv')
f3_opti.to_csv('f3_opti.csv')